.taskInput{
    display: flex;
    justify-content: space-between;
}
.input{
    border:1px solid black;
    width:65%;
    border-radius: 5px;
    margin-top: 10px;
}
.btn{
    width:30%;
    background-color: chartreuse;
    border-radius: 5px;
    margin-top: 10px;
}