.todo {
    width: 400px;
    min-height: 500px;
    border-radius: 20px;
    background: #fff;
    margin: auto;
    margin-top: 100px;
    flex-direction: column;
    padding: 20px 44px;
    padding-bottom: 30px;
    margin-bottom: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.todo-header {
    margin-top: 20px;
    color: #002765;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}

.todo-add {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

.todo-input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
    border-radius: 10px;
}

.todo-input:focus {
    border-color: #002765;
}

.todo-add-btn {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #002765;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.todo-add-btn:hover {
    background-color: #0040a8;
}

.todo-list {
    margin-top: 30px;
    list-style-type: none;
    padding: 0;
}

.todo-list ul {
    padding: 0;
}

.todo-list li {
    background: #f9f9f9;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.todo-list li:hover {
    background: #f1f1f1;
}
