.todoitems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .todoitems-container {
    display: flex;
    align-items: center;
  }
  
  .todoitems-container img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .todoitems-text {
    flex-grow: 1;
  }
  
  .todoitems img {
    cursor: pointer;
  }
  